aiodns==2.0.0
aiohttp==3.6.2
aiohttp-socks==0.5.2
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.1
cchardet==2.1.6
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
elasticsearch==7.8.0
fake-useragent==0.1.11
Flask==1.1.2
geographiclib==1.50
geopy==2.0.0
googletransx==2.4.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
MarkupSafe==1.1.1
multidict==4.7.6
numpy==1.22.0
pandas==1.0.5
pickle-mixin==1.0.2
pycares==3.1.1
pycparser==2.20
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
requests==2.24.0
schedule==0.6.0
scikit-learn==0.23.1
scipy==1.5.1
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
threadpoolctl==2.1.0
twint==2.1.20
urllib3==1.25.9
Werkzeug==1.0.1
yarl==1.4.2
